body.collection {
    background-image: url(../assets/images/blurred_backgrounds/blur_bg_3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
.album-covers {
    position: relative;
}
.collection-album-container {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    /*padding-left: 2rem;
    padding-right: 2rem;*/
}
.collection-album-container .caption {
    margin-top: 10px;
}
.collection-album-container .caption p {
    font-size: 1rem;
    font-weight: 400;
    color: #FFF;
}
.collection-album-container .caption p a {
    /*color: #FFF;*/
    text-decoration: none;
}
.collection-album-container .caption .album-name {
    color: #FFF;
}
.collection-album-container .caption .album-artist {
    color: #FFF;
    text-transform: uppercase;
    font-size: .65rem;
}
.collection-album-container img {
    width: 80%;
}
@media (min-width: 320px) {
    .album-covers {
        padding-top: 100px;
    }
    .album-covers .column.fourth {
        width: 100%;
    }
}
@media (min-width: 640px) {
    .album-covers .column.fourth {
        width: 25%;
    }
}
