body.landing {
    background-color: #FFF;
}
.hero-content {
    position: relative;
    min-height: 100vh;
    background-image: url(../assets/images/aria-hero.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.hero-title {
    /*width: 90%;*/
}
.selling-points {
    position: relative;
    display: table;
    /*width: 100%;*/
}
.point .point-title {
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
}
h5 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin-top: 1.67em;
}
.icon {
    height: 160px;
    width: 160px;
    /*background-color: #1F4E65;*/
    background-color: #CC2F5A;
    border-radius: 50%;
    display: block;
    position: relative;
    margin: auto;
    text-align: center;
    color: #FFF;
    font-size: 3.5rem;
    text-shadow:
        1px 1px 0px #420E19,
        2px 2px 0px #420E19,
        3px 3px 0px #420E19,
        4px 4px 0px #420E19,
        5px 5px 0px #420E19,
        6px 6px 0px #420E19,
        7px 7px 0px #420E19,
        8px 8px 0px #420E19,
        9px 9px 0px #420E19,
        10px 10px 0px #420E19;
}
.ion-ios-heart, .ion-headphone, .ion-loop {
    padding-top: 40px;
    position: relative;
    display: block;
}
@media (min-width: 320px) {
    .hero-content h1 {
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-tranasform: translateY(-50%);
        transform: translateY(-50%);
        width: 100%;
        text-align: center;
        color: #FFF;
        font-size: 2.75rem;
        font-weight: 200;
        text-transform: uppercase;
        letter-spacing: .5rem;
    }
    .hero-content p {
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        position: absolute;
        top: 80%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-tranasform: translateY(-50%);
        transform: translateY(-50%);
        width: 100%;
        text-align: center;
        color: #FFF;
        font-size: 1.25rem;
        font-weight: 200;
        font-style: italic;
    }
    .selling-points .column.third {
        width: 100%;
    }
    .point {
        /*display: table-cell;*/
        position: relative;
        width: 33.3%;
        padding: 1.5rem 2rem;
        text-align: center;
    }
}
@media (min-width: 640px) {
    .hero-content h1 {
        font-size: 4rem;
    }
    .hero-content p {
        font-size: 2rem;
        top: 62%;
    }
    .selling-points .column.third {
        width: 33.3%;
    }
    .point {
        padding: 2rem;
    }
}
