*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    height: 100%;
    font-size: 100%;
}
body {
    font-family: ff-dagny-web-pro, sans-serif;
    color: #000;
    min-height: 100%;
}
/* GRID */
/*.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}*/
.navbar .container {
    width: 80%;
    padding-left: 0;
    padding-right: 0;
}
.navbar {
    padding-top: 0.75rem;
    padding-bottom: 0.5rem;
    background-color: rgba(0,0,0,.7);
}
.navbar .logo {
    /*position: relative;*/
    /*margin-left: 4rem;*/
    left: 2rem;
    width: 110px;
}
/* Medium and small screens (640px) */
.container {
    margin: 0 auto;
    max-width: 64rem;
}
@media (min-width: 640px) {
    html { font-size: 112%; }
}

    .column {
        float: left;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .column .full { width: 100%; }
    .column .two-thirds { width: 66.7%; }
    .column .half { width: 50%; }
    .column .third { width: 33.3%; }
    .column .fourth { width: 25%; }
    .column .flow-opposite { float: right; }
/* Large screens (1024px) */
@media (min-width: 1024px) {
    html { font-size: 120%; }
}
