*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    height: 100%;
    font-size: 100%;
}
body {
    font-family: ff-dagny-web-pro, sans-serif;
    color: #000;
    min-height: 100%;
}
/* GRID */
/*.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}*/
.header-nav {
    background-color: rgba(0,0,0,.7);
    height: 75px;
}
.navbar {
    position: relative;
    padding-top: 0.85rem;
    padding-bottom: 0.5rem;
    z-index: 1;
}
.navbar .left {
    float: left;
}
.navbar .right {
    height: 75px;
    padding-left: 20px;
    padding-right: 20px;
}
.navbar .right:active {
    background-color: #FFF;
}
.navbar img {
    position: relative;
    width: 100px;
    cursor: pointer;
}
.navbar .links-container {
    position: absolute;
    top: 0;
    right: 0;
    color: #FFF;
}
.links-container .navbar-link {
    position: relative;
    top: 25px;
    vertical-align: middle;
    color: #FFF;
    font-size: 0.625rem;
    letter-spacing: 0.15rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}
.links-container .navbar-link:hover {
    color: #CC2F5A;
}
.links-container .navbar-link:active {
    color: rgb(233,50,117);
}
/* Medium and small screens (640px) */
.container {
    margin: 0 auto;
    max-width: 64rem;
}
@media (min-width: 640px) {
    html { font-size: 112%; }
}

    .column {
        float: left;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .column .full { width: 100%; }
    .column .two-thirds { width: 66.7%; }
    .column .half { width: 50%; }
    .column .third { width: 33.3%; }
    .column .fourth { width: 25%; }
    .column .flow-opposite { float: right;}
/* Large screens (1024px) */
@media (min-width: 1024px) {
    html { font-size: 120%; }
}
.navbar .container {
    width: 90%;
    padding-left: 0;
    padding-right: 0;
    max-width: none;
}
.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}
.clearfix::after {
    clear: both;
}
